<% provide(:title, "New Trip") %>

<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h1>New trip</h1>
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>

		<%= link_to 'Back', trips_path %>
	</div>
</div>
