<% provide(:title, "User") %>

<div class="panel panel-default semitrans">
	<div class="panel-heading">
		<div class="panel-title">
			<h1><%= @user.email %></h1>
			<%= holder_tag '300x300' %>
			<!--<%= image_tag @user.avatar.url(:medium) %>-->
		</div>
	</div>
	<div class="panel-body">
		<p>The user's info stuff would go here.</p>

	<%= link_to 'Back', users_path %>
	</div>
</div>
