

<% @user ||= current_user %>



<ul>
  <li><strong>Following <%= @user.followees(User).count %></strong></li>
    


  <li><strong><%= pluralize(@user.followers(User).count, "Follower") %></strong></li>
</ul>
    

