<% provide(:title, "About Us") %>

<div class="panel panel-default semitrans">
	<div class="panel-heading">
		<div class="Panel title">
			<h1>About Page</h1>
		</div>
	</div>

	<div class="panel-body">

		<h3>Camp Essentials</h3>

		<ul>
			<li>Tent (with stakes and guylines)</li>
			<li>Tent footprint</li>
			<li>Tent-pole repair sleeve</li>
			<li>Sun shade, tarp or screen house</li>
			<li>Sleeping bags (with optional liners)</li>
			<li>Sleeping pads</li>
			<li>Pillows</li>
			<li>Multi-tool or knife</li>
			<li>Daypacks (see our Day Hiking Checklist)</li>
			<li>Trekking poles</li>
			<li>Folding chairs</li>
			<li>Headlamps (with extra batteries)</li>
			<li>Flashlights (with extra batteries, bulbs)</li>
			<li>Lantern fuel or batteries</li>
			<li>Water filter or treatment tablets</li>
		</ul>


		<h3>Clothing and Footwear</h3>
		<ul>
			<li>Moisture-wicking T-shirts</li>
			<li>Moisture-wicking underwear</li>
			<li>Quick-drying pants/shorts</li>
			<li>Long-sleeve shirts (for sun, bugs)</li>
			<li>Sun-shielding hats</li>
			<li>Swimsuits</li>
			<li>Bandanas or buffs</li>
			<li>Boots or shoes suited to terrain</li>
			<li>Socks (synthetic or wool)</li>
			<li>Long underwear</li>
			<li>Sleepwear</li>
			<li>Insulating jacket or vest</li>
			<li>Insulated pants</li>
			<li>Gloves or mittens</li>
			<li>Rainwear (jacket and pants)</li>
			<li>Water sandals</li>
			<li>In-camp sandals or booties</li>
		</ul>

<!--



Stove
Windscreen
Fuel
Fuel bottle(s) with fuel funnel
Matches/lighter

Firewood (plus saw or axe)
Grill rack
Frying pan
Cook pots


Bottle opener/corkscrew
Can opener

Food-storage containers
Resealable storage bags
Trash bags


Water bottles

Mugs/cups

Utensils



Foil

Biodegradable soap
Pot scrubber/sponge(s)
Collapsible water container(s)


Quick-dry towels


Coffee

Breakfast bars

Meat (fresh and jerky)

Prepared or freeze-dried meals
Cooking oil/spray
Salt/pepper

Drink mixes

Energy food (bars, gels, trail mix)
Fruit (dried and fresh)

Spice kit


Toilet paper
Sunscreen
Lip balm
Insect repellent
Hand sanitizer
Alcohol or antiseptic wipes
Spare eyeglasses/contact lenses
Mirror
First-aid kit (see First-Aid Checklist)
Prescription medications
Toothbrush, toiletry kit

Biodegradable soap


Camera
Camcorder
Memory cards/film

Maps

Interpretive field guides (flowers, insects)

Paperbacks
Notebook and pen/pencil

Radio or music player with headphones
Two-way radios
GPS receiver
Cell phone

Pet food (with favorite bowl)


Playing cards

Flying discs
 -->

		
	</div>
</div>