<% provide(:title, "About Us") %>

<div class="panel panel-default semitrans">
	<div class="panel-heading">
		<div class="Panel title">
			<h1>About Page</h1>
		</div>
	</div>

	<div class="panel-body">

		<p>Find me in app/views/pages/about.html.erb</p>

		
	</div>
</div>