
<% if user_signed_in? %>

	<div class="row">
		<div class="col-md-8">
			<%= render 'shared/home' %>
		</div>

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<h1>Your Picture</h1>
					</div>
				</div>
				<div class="panel-body">
					<% if current_user.avatar? %>

						<%= image_tag current_user.avatar.url(:medium)%>
						
					<% else %>
						<p>Sorry, no image found</p>
					<% end %>
				</div>
			</div>
		</div>
	</div>

<% else %>


	<div class="jumbotron center semitrans">
		<h1>Welcome to Hikeabl!</h1>
		<h3>Where we know what's up</h3>

		<p>
		    <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
		    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
		  	
	</div>

<% end %>



