<% provide(:title, @item.name) %>

<div class="panel panel-default semitrans">
	<div class="panel-heading">
		<div class="panel-title">
			<h1><%= @item.name %></h1>
		</div>
	</div>

	<div class="panel-body">
		<p>
			<strong>Description:</strong>
			<%= @item.description %>
		</p>

		<%= link_to 'Back', items_path %>
		
	</div>
</div>

