<footer class="footer">
  <small>
    <%= link_to "Hikeabl", root_url %>
    by Daniel McBrayer
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      
      <li><a href="http://danielmcbrayer.com/" target="_blank">My Blog</a></li>
    </ul>
  </nav>
</footer>